host: "127.0.0.1"
port: "9527"
templates_glob: "internal/app/templates/*"
errors_log: "logs/errors.log"

jwt:
  key: ""
  expire: 604800

db:
  type: "mysql"
  driver: "mysql"
  host: "127.0.0.1"
  port: "3306"
  database: "test"
  username: "root"
  password: "root"
  options:
    - "charset=utf8mb4"
    - "parseTime=True"
    - "loc=Local"
  max_idle_conn: 20
  max_open_conn: 40
  conn_max_life_time: 86400
  log_level: "info"

#  type: "postgres"
#  driver: "postgres"
#  host: "127.0.0.1"
#  port: "5432"
#  database: "postgres"
#  username: "postgres"
#  password: "root"
#  options:
#    - "sslmode=disable"
#    - "TimeZone=Asia/Shanghai"
#  max_idle_conn: 20
#  max_open_conn: 40
#  conn_max_life_time: 86400
#  log_level: "info"