##################### app #####################

app:
  timeout: 5    # wait time for stopping an application

##################### app #####################


##################### server #####################

http:
  server:
    network: "tcp"
    addr: "0.0.0.0:9527"
    timeout: 5
    externalAddr: ""    # external access address, such as reverse proxy
  # casbin:
  #   model:
  #     path: "etc/rbac_model.conf"
  #   adapter:
  #     file: "etc/rbac_policy.csv"
  #     gorm: {}
  #     ent: {}

grpc:
  server:
    network: "tcp"
    addr: "0.0.0.0:9528"
    timeout: 5

##################### server #####################


##################### gRPC service address #####################
services:
  self: "0.0.0.0:9528"
  # self: "discovery:///go-scaffold"    # service discovery address
##################### gRPC service address #####################


##################### service discovery #####################

# discovery:
#   etcd:
#     endpoints:
#       - "localhost:12379"
#   consul:
#     addr: "localhost:8500"
#     schema: "http"

##################### service discovery #####################


##################### database #####################

# db:
#   driver: "mysql"
#   dsn: "root:root@tcp(127.0.0.1:3306)/go-scaffold?charset=utf8mb4&parseTime=True&loc=Local"
#   maxIdleConn: 20
#   maxOpenConn: 40
#   connMaxIdleTime: 120
#   connMaxLifeTime: 120
#   logInfo: true
#   resolvers:
#     - type: "replica"
#       dsn: "root:root@tcp(127.0.0.1:3306)/go-scaffold?charset=utf8mb4&parseTime=True&loc=Local"

#   driver: "postgres"
#   dsn: "host=127.0.0.1 port=5432 user=postgres password=root dbname=go-scaffold sslmode=disable TimeZone=Asia/Shanghai"
#   maxIdleConn: 20
#   maxOpenConn: 40
#   connMaxIdleTime: 120
#   connMaxLifeTime: 120
#   logInfo: true
#   resolvers:
#     - type: "replica"
#       dsn: "host=127.0.0.1 port=5432 user=postgres password=root dbname=go-scaffold sslmode=disable TimeZone=Asia/Shanghai"

#   driver: "sqlite3"
#   dsn: "go-scaffold.db?mode=memory&cache=shared&_foreign_keys=1"
#   logInfo: true

##################### database #####################


##################### redis #####################

# redis:
#   addr: "localhost:6379"
#   password: ""
#   db: 0               # database
#   poolSize: 20        # the maximum number of the connection pool
#   minIdleConns: 10    # minimum number of idle connections
#   idleTimeout: 600    # amount of time after which client closes idle connections.

##################### redis #####################


##################### kafka #####################

kafka:
  example:
    brokers:
      - localhost:9092
    topic: "example-topic"

##################### kafka #####################


##################### trace #####################

# otpl:
#   trace:
#     protocol: "http"
#     endpoint: "localhost:4318"

##################### trace #####################
