##################### app #####################

app:
  timeout: 5    # wait time for stopping an application

##################### app #####################


##################### server #####################

http:
  network: "tcp"
  addr: "0.0.0.0:9527"
  timeout: 5
  externalAddr: ""  # external access address, such as reverse proxy

grpc:
  network: "tcp"
  addr: "0.0.0.0:9528"
  timeout: 5

##################### server #####################


##################### gRPC service address #####################
services:
  self: "0.0.0.0:9528"
  # self: "discovery:///go-scaffold"    # service discovery address
##################### gRPC service address #####################


##################### database #####################

# db:
#   driver: "mysql"
#   addr: "127.0.0.1:3306"
#   database: "go-scaffold"
#   username: "root"
#   password: "root"
#   options: "charset=utf8mb4&parseTime=True&loc=Local"
#   maxIdleConn: 20
#   maxOpenConn: 40
#   connMaxIdleTime: 120
#   connMaxLifeTime: 120
#   logInfo: true
#   resolvers:
#     - type: "replica"
#       addr: "127.0.0.1:3306"
#       database: "go-scaffold"
#       username: "root"
#       password: "root"
#       options: "charset=utf8mb4&parseTime=True&loc=Local"

#  driver: "postgres"
#  addr: "127.0.0.1:5432"
#  database: "go-scaffold"
#  username: "postgres"
#  password: "root"
#  options: "sslmode=disable&TimeZone=Asia/Shanghai"
#  maxIdleConn: 20
#  maxOpenConn: 40
#  connMaxIdleTime: 120
#  connMaxLifeTime: 120
#  logInfo: true
#  resolvers:
#    - type: "replica"
#      addr: "127.0.0.1:5432"
#      database: "go-scaffold"
#      username: "postgres"
#      password: "root"
#      options: "sslmode=disable&TimeZone=Asia/Shanghai"

##################### database #####################


##################### redis #####################

# redis:
#   addr: "localhost:6379"
#   password: ""
#   db: 0               # database
#   poolSize: 20        # the maximum number of the connection pool
#   minIdleConns: 10    # minimum number of idle connections
#   idleTimeout: 600    # amount of time after which client closes idle connections.

##################### redis #####################


##################### trace #####################

# trace:
#   endpoint: "localhost:6831"
#   # endpoint: "http://localhost:14268/api/traces"

##################### trace #####################


##################### service discovery #####################

# discovery:
#   etcd:
#     endpoints:
#       - "localhost:12379"
#   consul:
#     addr: "localhost:8500"
#     schema: "http"

##################### service discovery #####################


##################### JWT #####################

# jwt:
#   key: ""     # JWT 密钥

##################### JWT #####################


##################### casbin #####################

# casbin:
#   model:
#     path: "etc/rbac_model.conf"
#   adapter:
#     file:
#       path: "etc/rbac_policy.csv"
#     gorm:
#       tableName: ""

##################### casbin #####################

##################### kafka #####################
kafka:
  example:
    brokers:
      - localhost:9092
    topic: "example-topic"
##################### kafka #####################
