host: "127.0.0.1"
port: "9527"
log: "../logs/errors.log"
# templateGlob: "../app/templates/*"

jwt:
  key: ""
  expire: 604800

db:
  driver: "mysql"
  host: "127.0.0.1"
  port: "3306"
  database: "test"
  username: "root"
  password: "root"
  options:
    - "charset=utf8mb4"
    - "parseTime=True"
    - "loc=Local"
  maxIdleConn: 20
  maxOpenConn: 40
  connMaxLifeTime: 86400
  logLevel: "warn"

#  driver: "postgres"
#  host: "127.0.0.1"
#  port: "5432"
#  database: "postgres"
#  username: "postgres"
#  password: "root"
#  options:
#    - "sslmode=disable"
#    - "TimeZone=Asia/Shanghai"
#  maxIdleConn: 20
#  maxOpenConn: 40
#  connMaxLifeTime: 86400
#  logLevel: "warn"