# Host: "127.0.0.1"
# Port: "9527"
# Env: "local"
# Log: "../logs/framework.log"

# Template:
#   Glob: "../app/templates/*"

# JWT:
#   Key: ""
#   Expire: 604800

# DB:
#   Driver: "mysql"
#   Host: "127.0.0.1"
#   Port: "3306"
#   Database: "test"
#   Username: "root"
#   Password: "root"
#   Options:
#     - "charset=utf8mb4"
#     - "parseTime=True"
#     - "loc=Local"
#   MaxIdleConn: 20
#   MaxOpenConn: 40
#   ConnMaxLifeTime: 86400
#   LogLevel: "warn"

#  Driver: "postgres"
#  Host: "127.0.0.1"
#  Port: "5432"
#  Database: "postgres"
#  Username: "postgres"
#  Password: "root"
#  Options:
#    - "sslmode=disable"
#    - "TimeZone=Asia/Shanghai"
#  MaxIdleConn: 20
#  MaxOpenConn: 40
#  ConnMaxLifeTime: 86400
#  LogLevel: "warn"