Host: "0.0.0.0"
Port: "9599"
Env: "local"

# 全局日志
Log:
  # 全局日志路径（相对于项目的根目录）
  Path: "logs/framework_%Y%m%d.log"

Logger:
  # 如果指定此路径，则 logger 的内容不写入全局日志
  # Path: "../logs/logger.log"
  Format: "json"

Template:
  Glob: "../internal/httpserver/templates/*"

Database:
  Driver: "mysql"
  Host: "127.0.0.1"
  Port: "3306"
  Database: "lifeupdbdev"
  Username: "root"
  Password: "root"
  Options:
    - "charset=utf8mb4"
    - "parseTime=True"
    - "loc=Local"
  MaxIdleConn: 20
  MaxOpenConn: 40
  ConnMaxLifeTime: 86400
  LogLevel: "info"

#  Driver: "postgres"
#  Host: "127.0.0.1"
#  Port: "5432"
#  Database: "postgres"
#  Username: "postgres"
#  Password: "root"
#  Options:
#    - "sslmode=disable"
#    - "TimeZone=Asia/Shanghai"
#  MaxIdleConn: 20
#  MaxOpenConn: 40
#  ConnMaxLifeTime: 86400
#  LogLevel: "warn"

Redis:
  Host: "127.0.0.1"
  Port: "6379"
  Password: ""
  DB: 0 # 连接到服务器后要选择的数据库
  PoolSize: 20 # 连接池最大连接数
  MinIdleConns: 10 # 连接池空闲连接数
  IdleTimeout: 600 # 连接池空闲连接数

JWT:
  Key: ""
  Expire: 604800
