nameOverride: ""
fullnameOverride: ""

deployment:
  replicaCount: 1
  imagePullSecrets:
    - name: "go-scaffold-image-pull-secret"
  podAnnotations: {}
  podSecurityContext: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  containers:
    - image: go-scaffold
      name: app
      tag: latest
      pullPolicy: IfNotPresent
      env: []
      command: []
      args: []
      ports:
        - name: http
          port: 9527
          protocol: TCP
        - name: rpc
          port: 9528
          protocol: TCP
      resources:
        # limits:
        #   cpu: 250m
        #   memory: 256Mi
        requests:
          cpu: 100m
          memory: 128Mi
      volumeMounts:
        - mountPath: /app/etc/config.yaml
          name: app-config
          subPath: config.yaml
        - name: app-logs
          mountPath: /app/logs
      livenessProbe:
        httpGet:
          path: /ping
          port: http
      readinessProbe:
        # httpGet:
        #   path: /ping
        #   port: http
      securityContext: {}
        # capabilities:
        #   drop:
        #     - ALL
        # readOnlyRootFilesystem: true
        # runAsNonRoot: true
        # runAsUser: 1000
  volumes:
    - name: app-logs
      emptyDir: {}

configMap:
  config.yaml: |-
    ##################### app #####################

    app:
      timeout: 5    # wait time for stopping an application

    ##################### app #####################


    ##################### server #####################

    http:
      server:
        network: "tcp"
        addr: "0.0.0.0:9527"
        timeout: 5
        externalAddr: ""    # external access address, such as reverse proxy
      # casbin:
      #   model:
      #     path: "etc/rbac_model.conf"
      #   adapter:
      #     file: "etc/rbac_policy.csv"
      #     gorm: {}
      #     ent: {}

    grpc:
      server:
        network: "tcp"
        addr: "0.0.0.0:9528"
        timeout: 5

    ##################### server #####################


    ##################### gRPC service address #####################
    services:
      self: "0.0.0.0:9528"
      # self: "discovery:///go-scaffold"    # service discovery address
    ##################### gRPC service address #####################


    ##################### service discovery #####################

    # discovery:
    #   etcd:
    #     endpoints:
    #       - "localhost:12379"
    #   consul:
    #     addr: "localhost:8500"
    #     schema: "http"

    ##################### service discovery #####################


    ##################### database #####################

    # database:
    #   default:
    #     driver: "mysql"
    #     dsn: "root:root@tcp(127.0.0.1:3306)/go-scaffold?charset=utf8mb4&parseTime=True&loc=Local"
    #     maxIdleConn: 20
    #     maxOpenConn: 40
    #     connMaxIdleTime: 120
    #     connMaxLifeTime: 120
    #     logInfo: true
    #     resolvers:
    #       - type: "replica"
    #         dsn: "root:root@tcp(127.0.0.1:3306)/go-scaffold?charset=utf8mb4&parseTime=True&loc=Local"

    #   default:
    #     driver: "pgx"
    #     dsn: "host=127.0.0.1 port=5432 user=postgres password=root dbname=go-scaffold sslmode=disable TimeZone=Asia/Shanghai"
    #     maxIdleConn: 20
    #     maxOpenConn: 40
    #     connMaxIdleTime: 120
    #     connMaxLifeTime: 120
    #     logInfo: true
    #     resolvers:
    #       - type: "replica"
    #         dsn: "host=127.0.0.1 port=5432 user=postgres password=root dbname=go-scaffold sslmode=disable TimeZone=Asia/Shanghai"

    #   default:
    #     driver: "sqlite3"
    #     dsn: "go-scaffold.db?mode=memory&cache=shared&_foreign_keys=1"
    #     logInfo: true

    ##################### database #####################


    ##################### redis #####################

    # redis:
    #   default:
    #     addr: "localhost:6379"
    #     password: ""
    #     database: 0
    #     poolSize: 20        # the maximum number of the connection pool
    #     minIdleConns: 10    # minimum number of idle connections
    #     idleTimeout: 600    # amount of time after which client closes idle connections.

    ##################### redis #####################


    ##################### kafka #####################

    kafka:
      example:
        brokers:
          - localhost:9092
        topic: "example-topic"

    ##################### kafka #####################


    ##################### trace #####################

    # trace:
    #   protocol: "http"
    #   endpoint: "localhost:4318"

    ##################### trace #####################

secret:
  imagePull:
    name: "go-scaffold-image-pull-secret"
    data:
      .dockerconfigjson: <docker login config>
  tls:
    name: "www-go-scaffold-example-tls"
    data:
      www.go-scaffold.example.crt: <base64 编码后的证书文件内容>
      www.go-scaffold.example.key: <base64 编码后的密钥文件内容>

service:
  type: ClusterIP
  ports:
    - name: http
      port: 9527
      targetPort: 9527
      protocol: TCP
      nodePort:
    - name: rpc
      port: 9528
      targetPort: 9528
      protocol: TCP
      nodePort:

ingress:
  enabled: false
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  tls:
    enable: false
    hosts:
      - hosts:
          - www.go-scaffold.example
        secretName: www-go-scaffold-example-tls
  hosts:
    - host: www.go-scaffold.example
      paths:
        - path: /
          pathType: Prefix

serviceAccount:
  create: true
  name: ""
  annotations: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
