version: "3"

services:
  mysql:
    image: mysql:latest
    networks:
      go-scaffold:
        aliases:
          - mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: go-scaffold
    ports:
      - "$PORT:3306"
    command: >
      bash -c "chmod 644 /etc/mysql/conf.d/*.cnf && /entrypoint.sh mysqld"
    volumes:
      - "./mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf"
      - "./mysql/data:/var/lib/mysql"
      - "./apollo/migrate:/docker-entrypoint-initdb.d"

  redis:
    image: redis:latest
    networks:
      go-scaffold:
        aliases:
          - redis
    ports:
      - "$PORT:6379"
    command:
      - "redis-server"
      - "/usr/local/etc/redis/redis.conf"
    volumes:
      - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
      - "./redis/data:/data"

  jaeger:
    image: jaegertracing/all-in-one:latest
    networks:
      go-scaffold:
        aliases:
          - jaeger
    environment:
      SPAN_STORAGE_TYPE: "badger"
      BADGER_EPHEMERAL: "false"
      BADGER_DIRECTORY_VALUE: "/badger/data"
      BADGER_DIRECTORY_KEY: "/badger/key"
    ports:
      - "$PORT:5775/udp"
      - "$PORT:6831/udp"     # agent 组件端口
      - "$PORT:6832/udp"
      - "$PORT:5778"
      - "$PORT:16686"       # UI 端口
      - "$PORT:14250"
      - "$PORT:14268"       # collector 组件端口
      - "$PORT:14269"
      - "$PORT:9411"
    volumes:
      - "./jaeger/data:/badger"

  apollo-configservice:
    image: apolloconfig/apollo-configservice:latest
    networks:
      go-scaffold:
        aliases:
          - apollo-configservice
    depends_on:
      - mysql
    restart: always
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/ApolloConfigDB?characterEncoding=utf8"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "root"
      EUREKA_INSTANCE_HOME_PAGE_URL: "http://apollo-configservice:8080"
    ports:
      - "$PORT:8080"

  apollo-adminservice:
    image: apolloconfig/apollo-adminservice:latest
    networks:
      go-scaffold:
        aliases:
          - apollo-adminservice
    depends_on:
      - mysql
      - apollo-configservice
    restart: always
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/ApolloConfigDB?characterEncoding=utf8"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "root"
      EUREKA_INSTANCE_HOME_PAGE_URL: "http://apollo-adminservice:8090"
    ports:
      - "$PORT:8090"

  apollo-portal:
    image: apolloconfig/apollo-portal:latest
    networks:
      go-scaffold:
        aliases:
          - apollo-portal
    depends_on:
      - mysql
      - apollo-configservice
      - apollo-adminservice
    restart: always
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysql:3306/ApolloPortalDB?characterEncoding=utf8"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "root"
      APOLLO_PORTAL_ENVS: "dev"
      DEV_META: "http://apollo-configservice:8080"
    ports:
      - "$PORT:8070"

  http:
    build: ../../
    networks:
      go-scaffold:
        aliases:
          - rest
    ports:
      - "$PORT:9527"
    command:
      - "./dockerize"
      - "-wait"
      - "tcp://mysql:3306"
      - "./bin/app"
    volumes:
      - "./dockerize:/app/dockerize"
      - "$CONFIG_PATH:/app/etc/config.yaml"
    depends_on:
      - mysql
      - redis
    restart: always

networks:
  go-scaffold: