version: "3"

services:
  mysql:
    image: mysql:latest
    networks:
      go-scaffold:
        aliases:
          - mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: go-scaffold
    ports:
      - "$PORT:3306"
    command: >
      bash -c "chmod 644 /etc/mysql/conf.d/*.cnf && /entrypoint.sh mysqld"
    volumes:
      - "./mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf"
      - "./mysql/data:/var/lib/mysql"

  redis:
    image: redis:latest
    networks:
      go-scaffold:
        aliases:
          - redis
    ports:
      - "$PORT:6379"
    command:
      - "redis-server"
      - "/usr/local/etc/redis/redis.conf"
    volumes:
      - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
      - "./redis/data:/data"

  web:
    image: cosmtrek/air
    networks:
      go-scaffold:
        aliases:
          - web
    ports:
      - "$PORT:9527"
    environment:
      - GOOS=linux
      - CGO_ENABLED=0
      - GOPROXY=https://goproxy.cn,direct
    working_dir: /app
    command:
      - "./dockerize"
      - "-wait"
      - "tcp://mysql:3306"
      - "air"
    volumes:
      - "../../.:/app"
    depends_on:
      - mysql
      - redis
    restart: always

networks:
  go-scaffold: