version: "3"

services:
  mysql:
    image: mysql:latest
    networks:
      go-scaffold:
        aliases:
          - mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: go-scaffold
    ports:
      - "$PORT:3306"
    command: >
      bash -c "chmod 644 /etc/mysql/conf.d/*.cnf && /entrypoint.sh mysqld"
    volumes:
      - "./mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf"
      - "./mysql/data:/var/lib/mysql"

  redis:
    image: redis:latest
    networks:
      go-scaffold:
        aliases:
          - redis
    ports:
      - "$PORT:6379"
    command:
      - "redis-server"
      - "/usr/local/etc/redis/redis.conf"
    volumes:
      - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
      - "./redis/data:/data"

  jaeger:
    image: jaegertracing/all-in-one:latest
    networks:
      go-scaffold:
        aliases:
          - jaeger
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"     # agent 组件端口
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"       # UI 端口
      - "14250:14250"
      - "14268:14268"       # collector 组件端口
      - "14269:14269"
      - "9411:9411"

  rest:
    build: ../../
    networks:
      go-scaffold:
        aliases:
          - rest
    ports:
      - "$PORT:9527"
    command:
      - "./dockerize"
      - "-wait"
      - "tcp://mysql:3306"
      - "./bin/app"
    volumes:
      - "./dockerize:/app/dockerize"
      - "$CONFIG_PATH:/app/etc/app.yaml"
    depends_on:
      - mysql
      - redis
    restart: always

networks:
  go-scaffold: